{
  "name": "{{ project_slug }}",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "dev": "vite dev",
    "build": "vite build",
    "preview": "vite preview",
    "test": "vitest run",
    "test:watch": "vitest",
    "check": "svelte-kit sync && svelte-check --tsconfig ./tsconfig.json",
    "lint": "eslint ."
  },
  "devDependencies": {
    "@sveltejs/adapter-auto": "latest",
    "@sveltejs/kit": "{% if sveltekit_version == 'latest' %}latest{% else %}^{{ sveltekit_version }}{% endif %}",
    "@sveltejs/vite-plugin-svelte": "latest",
    "svelte": "latest",
    "svelte-check": "latest",
    "typescript": "latest",
    "vite": "latest",
    "vitest": "latest",
    "@vitest/coverage-v8": "latest"
  }
}